body {
    margin: 10px auto;
    width: 70%;

}
.container {
    background-color: #6dc8c4;
    margin: 10px;
    padding: 30px;
    font: 1.2em Helvetica, arial, sans-serif;
    border: 2px solid #000;
}
.content {
    padding: 30px 30px;
}
.task {
    padding: 20px 0px;
}
.right{
    float: right;
    margin: 0px 0px;
}

nav ul, footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
nav li {
    float: left;
    width: 25%;
}
footer li{
    float: left;
    width: 33%;
}
nav li a, footer li a {
    display: block;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #4e4c99;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.6em;
    font-family: 'Helvetica';
}
h2 {
    margin-top: 30px;
}
p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1em;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60%;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 10px;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}