body {
    margin: 30px auto;
    width: 70%;

}
.container {
    background-color: #6dc8c4;
    margin: 30px;
    padding: 30px;
    font: 1.2em Helvetica, arial, sans-serif;
    border: 2px solid #000;
}
.content {
    padding: 30px 0px;
}

nav ul, footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
nav li {
    float: left;
    width: 25%;
}
footer li{
    float: left;
    width: 33%;
}
nav li a, footer li a {
    display: block;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #4e4c99;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.projects { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.projects li {
    list-style: none;
}

